<div class="px-6 py-4">
  @if(post) {
    <p class="text-gray-700 mb-2 font-bold">Created: <span class="font-normal">{{ post.creationDate }}</span></p>
    <p class="mb-2 font-bold">Status:
      @if(post.published) {
        <span class="text-blue-500 mb-2">Published</span>
      } @else {
        <span [class]="{
          'text-yellow-500': post.reviewStatus === 'Pending',
          'text-green-500': post.reviewStatus === 'Approved',
          'text-red-500': post.reviewStatus === 'Rejected'
          }" class="mb-2">{{ "Review " + (post.reviewStatus | lowercase) }}</span>
      }
    </p>
  }
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="mb-4">
      <label for="author" class="block text-gray-700 text-sm font-bold mb-2">Author:</label>
      <input type="text" id="author" formControlName="author" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      @if (postForm.get('author')?.touched && postForm.get('author')?.hasError('required')) {
        <div class="text-red-500 text-sm mt-1">Author is required</div>
      }
      @if (postForm.get('author')?.touched && postForm.get('author')?.hasError('minlength')) {
        <div class="text-red-500 text-sm mt-1">Author must be at least 3 characters</div>
      }
      @if (postForm.get('author')?.touched && postForm.get('author')?.hasError('maxlength')) {
        <div class="text-red-500 text-sm mt-1">Author must be at most 60 characters</div>
      }
    </div>
    <div class="mb-4">
      <label for="title" class="block text-gray-700 text-sm font-bold mb-2">Title:</label>
      <input type="text" id="title" formControlName="title" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
      @if (postForm.get('title')?.touched && postForm.get('title')?.hasError('required')){
        <div class="text-red-500 text-sm mt-1">Title is required</div>
      }
      @if (postForm.get('title')?.touched && postForm.get('title')?.hasError('minlength')) {
        <div class="text-red-500 text-sm mt-1">Title must be at least 16 characters</div>
      }
      @if (postForm.get('title')?.touched && postForm.get('title')?.hasError('maxlength')) {
        <div class="text-red-500 text-sm mt-1">Title must be at most 100 characters</div>
      }
    </div>
    <div class="mb-4">
      <label for="content" class="block text-gray-700 text-sm font-bold mb-2">Content:</label>
      <textarea id="content" formControlName="content" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
      @if (postForm.get('content')?.touched && postForm.get('content')?.hasError('required')) {
        <div class="text-red-500 text-sm mt-1">Content is required</div>
      }
      @if (postForm.get('content')?.touched && postForm.get('content')?.hasError('minlength')) {
        <div class="text-red-500 text-sm mt-1">Content must be at least 60 characters</div>
      }
    </div>
      <button type="submit" class="bg-blue-500 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline disabled:bg-blue-200" [disabled]="post?.reviewStatus !== 'Not yet performed' || !postForm.valid">Save</button>
      <button type="button" class="bg-gray-500 m-2 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline disabled:bg-gray-200" [disabled]="post?.reviewStatus !== 'Not yet performed' || !postForm.valid" (click)="onSubmitForReview()">Submit for Review</button>
      <button type="button" class="bg-red-500 text-white font-bold py-3 px-6 rounded focus:outline-none focus:shadow-outline disabled:bg-red-200" [disabled]="post?.published || post?.reviewStatus !== 'Approved'" (click)="onPublish()">Publish</button>
  </form>
</div>
